.typewriter h1 {
  width: max-content;
  color: white;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid goldenrod;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  letter-spacing: .15em;

  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  /* animation-iteration-count: 5; */

}

.button_container {
  margin-top: 10px;
}

.typewriter {
  width: fit-content;
}

.skills {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: auto auto auto auto;
  /* grid-template-columns: repeat(auto-fill, 186px); */
  margin-top: auto;
  margin-bottom: auto;
  padding: 100px;
  margin-top: auto;
  /* margin-left: auto;
  margin-right: auto; */
  width: 50%;
  flex: 1;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

.abc {
  color: blue;
}

.card {
  margin: 10px;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transform: scale(1.5);
}

.card.show {
  opacity: 1;
  transform: scale(1);
}

.card.show:hover {
  transform: scale(1.1);

}

.container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: #343b3f; */
  border-radius: 8px;
  margin-top: 3px;
  width: 57%;
  margin-left: auto;
    margin-right: auto;
  /* height: 80vh; */
}

.header_wrapper>div>header {
  background-color: #1f1f1f;
  border-radius: 0 0 8px 8px;
}

.hamburger {
  display: none;
}

.optionsWrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 30%;
}

.headerWrapper {
  display: flex;
  flex: 0.9;
}

.body_container {
  /* background-color: black; */
  min-height: 90vh;
  height: fit-content;
}

.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.about_me_text_div {
  color: white;
  text-align: justify;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1.8;
}

.about_content_wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px
}

.contact_container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
.contact_sub{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  border:1px solid ;
  height:40vh;
}
.contacts{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* gap: 2.5em; */
  gap:1.5em;
  margin-top: 30px;
}
.contacts:hover{
  cursor: pointer;
}
.about_me_text{
  color:grey;
  font-size: 1.3em !important;
}



@media only screen and (max-width: 600px) {
  .header_wrapper>div>header {
    background-color: #1f1f1f;
    border-radius: 0 0 8px 8px;
  }

  .options {
    display: none;
  }

  .optionsWrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .headerWrapper {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .skills {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: repeat(auto-fill, minmax(186px, 1fr),minmax(186px, 1fr));; */
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    padding: 0;
    margin-left: inherit;
    margin-right: inherit;
    flex: 1;
  }

  .sub_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .typewriter h1 {
    font-size: x-large;
  }

  .about_content_wrapper {
    display: flex;
    padding: 10px;
    flex-direction: column;

  }

  .container {
    display: flex;
    flex-wrap: wrap;

    border-radius: 8px;
    margin-top: 3px;
    width: 100%;
  }
  .about_me_text{
    color:grey;
    font-size: 1em !important;
  }
  .about_me{
    font-size: 1.7em !important;  
  }

}